@media(max-width:950px){
    body {
        background-color: rgba(255, 255, 255, 0.836);
      }

nav .list{
    display: none;
}
nav .toggler {
    display: block;
    padding: 30px;
    font-size: 30px;
    color: rgba(72, 70, 70, 0.904);
    }
nav .logo{
    margin-left: 20px;
    }
.head .imgData{
    width: 93%; height: 40vh;
}
.head .imgData .info{
    width: 100%;
    height: 40vh;
    padding: 00px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.543);
    border-radius: 20px;box-sizing: border-box;}
.head .info h1{
    font-size: 40px;
    margin-top: 80px;}

.head .info p{
    color: rgb(203, 203, 203);
    font-size: 20px;
    margin-top: 10px;
    width: 50%;
    }
.head .imgData img{
    height: 450px;
    }
/* *************** */
.booking{width: 85%;}
.bookingForm .part {width: 100%;}
.bookingForm .part input{width: 100%;}
.popular {
    padding: 0px 0px;
    padding-bottom: 20px;
   margin:auto;
   justify-content: space-around;
}
.popular .search{
    padding: 10px;
    margin: 10px  7px;
    width: 16%; }
/* ************ */
.categories{
    padding: 50px 0px;
  }
.categories p{font-size: 18px;}
.categories .card{width: 33%;}
.categories .card img{
    width: 80%;
    height: 250px;}
    /* ********************* */
.recommend{
    width: 80%;
    padding: 40px 0px;
    margin-top: 50px;}
.recommend h3{
    padding-bottom: 30px;
    font-size: 35px;
}
.recommend .caption{
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
    height: 200px; 
  }
  .recommend .caption .over h1{
    padding-top: 190px;
    padding-left: 20px;
    font-size:40px;}
/* ************* */
.todo{display: block;}
.todo .part{width: 90%;}

/* ************************ */
.logIn {padding-top: 30px;}
.logIn .cardHeader {width: 90%;}
.logIn .cardForm {width: 90%;}
.logIn .cardForm .group .label {
    width: 40%;
    direction: ltr;
    margin: 5px 20px;
  }
.logIn .cardForm .submit-group { margin-left: 160px;}
.logIn .cardForm .checkbox-group{margin-left: 310px;}
.logIn .cardForm .checkbox-group input {
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);  
  }
  .logIn .cardForm .checkbox-group label {margin-left: 10px;}
}
@media(max-width:750px){
    body {background-color: rgba(255, 255, 255, 0.836);}
nav .list{display: none;}
nav .toggler {
    display: block;
    padding: 20px;
    font-size: 25px;
    color: rgba(72, 70, 70, 0.904);
    }
nav .logo{margin-left: 20px;}
/* 

/* ***************  */
.head{padding:30px 0px;padding-bottom: 10px;}
.head .imgData{width: 95%; height: 40vh;}
.head .imgData .info{
    width: 100%;
    height: 40vh;
    padding: 00px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.543);
    border-radius: 20px;box-sizing: border-box;}
.head .info h1{
    font-size: 25px;
    margin-top: 10px;}
.head .info p{
    width: 70%;
    color: rgb(203, 203, 203);
    font-size: 13px;
    margin-top: 10px;
    }
.head .info button{
    font-size: 13px;
    border: 0;
    border-radius: 20px;
    padding: 10px 10px;
    margin-top: 10px;}
    /* *************** */
    .booking{width: 95%;}
    .bookingForm .part {width: 100%;}
    .bookingForm .part i{padding: 5px;}
    .bookingForm .part h2{font-size: 22px;}
    .bookingForm .part input{
        width: 100%;
        border-radius: 20px;
        padding:0px 10px;
        box-sizing: border-box;}
    .popular {
        padding: 0px 0px;
        padding-bottom: 20px;
       margin:auto;
    }
    .popular .search{
        height: 50px;
        margin: 10px  0px;
        width: 30%; }
/* ************ */
.categories{
    padding: 50px 0px;
  }
.categories p{font-size: 18px;}
.categories .card{width: 33%;}
.categories .card img{
    width: 80%;
    height: 150px;}
    /* ********************* */
.recommend{
    width: 90%;
    padding-top: 30px;
    margin-top: 35px;}
.recommend h3{
    padding-bottom: 30px;
    font-size: 35px;
}
.recommend .caption{
    width: 40%;
    margin-bottom: 40px;
    height: 200px;
  }
  .recommend .caption p{
  padding-top: 70px;
  padding-left: 6px;
  font-size:16px;}
/* ************* */
.todo{display: block;padding: 0px 0px;}
.todo .part{width: 95%;flex-wrap: wrap;}
.todo .part .image{width :100%;height: 200px;}
.todo .part .image img{border-radius: 40px 40px 0px 0px;}
.todo .part .info{  
    padding: 0px 10px;
    width :100%;
    border-radius: 0px 0px 40px 40px;
    height: 340px;
  }
.todo .part .info h3{height: 25%; font-size: 25px;}


.todo .part .part2{width: 49%;}
.todo .part .part2 .info2 h3{ font-size: 20px;height: 120px;}
/* ***************** */
footer{display: block;}
footer .logo{width: 90%;text-align: center; }
footer .contact{width: 90%;margin-top: 50px;}
footer .download{width: 90%;margin-top: 50px;}
footer .download .store{padding: 5px;margin-top: 10px;}
/* ********************* */
.logIn {padding-top: 30px;}
.logIn .cardHeader {width: 90%;}
.logIn .cardForm {width: 90%;}
.logIn .cardForm .group .label {
    width: 40%;
    direction: ltr;
    margin: 5px 20px;
  }
.logIn .cardForm .submit-group { margin-left: 10px;}
.logIn .cardForm .checkbox-group{margin-left: 180px;}
.logIn .cardForm .checkbox-group input {
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);  
  }
  .logIn .cardForm .checkbox-group label {margin-left: 10px;}
}